*.nupkg
*.user
*.suo
*.exe
.vs
.idea
bin
obj
packages
TestResults
Coverage
Coverage.xml
bin/
obj/
log/
Log/
packages/
build/
.vs/
.vscode/
.svn/
.nuget/
$tf/
*.rar
*.zip
*.suo
*.user
*.sln.cache
*.nupkg
*.testsettings
*.vsmdi
_ReSharper.Caches/